[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2"
flask-SQLAlchemy = "3"
Flask-Migrate = "*"
python-dotenv = "*"
pyyaml = "*"
openapi3 = "*"
python-jose = "*"
Authlib = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]
types-Flask = "*"
schemathesis = "*"
pytest = "*"

[requires]
python_version = "3.9"
